---
classes: 'btn'
sizes:
  sm: 'btn-sm'
  md: 'btn-md'
  lg: 'btn-lg'
  xl: 'btn-xl'
types:
  brand: 'btn-primary'
  secondary: 'btn-secondary'
  white: 'text-primary-900 bg-white hover:bg-transparent hover:text-primary-900 hover:border-2 hover:border-primary-900 border-2 border-transparent'
border:
  lg: 'rounded-lg'
  full:  'rounded-full'
---

{{ if link }}
    <a href="{{ link }}" target="{{ target_blank ? '_blank' : '_self' }}"
        class="{{ view:classes }} {{ size ? view:sizes[size] : view:sizes['xl']  }} {{ color ? view:types[color] : view:types['brand']  }} {{ radius ? view:border[radius] : view:border['lg'] }} {{ class }}">
        {{ label }}
    </a>
{{ else }}
    <button type="{{ button_type or 'submit' }}"
        class="{{ view:classes }} {{ size ? view:sizes[size] : view:sizes['xl']  }} {{ color ? view:types[color] : view:types['brand']  }} {{ radius ? view:border[radius] : view:border['lg'] }} {{ class }}">
        {{ label }}
    </button>
{{ /if }}
