{{ if toggle_button }}
    <li class="py-2 lg:py-0">
        {{ partial:components.button link="{url}" color="{button_variant}" size="{button_size}" label="{title}" }}
    </li>
{{ else }}
    <li>
        {{ if children }}
        <details class="z-10">
            <summary>{{ title }}</summary>
            <ul class="p-2">
                {{ children }}
                    {{ partial:components.menu_item }}
                {{ /children }}
            </ul>
        </details>
        {{ else }}
            <a href="{{ url }}">
                {{ title }}
            </a>
        {{ /if }}
    </li>
{{ /if }}
