<!doctype html>
<html lang="{{ site:short_locale }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ aardvark-seo:head }}
    {{ vite src="resources/js/site.js|resources/css/site.css" }}
    {{ stack:css }}
    {{ stack:head_scripts }}
    {{# {{ aardvark-seo:socials }} #}}
</head>

<body class="min-h-screen font-sans antialiased flex flex-col">
    {{ aardvark-seo:body }}
    <div class="relative overflow-hidden">
        {{ partial:layouts/navigation }}
        {{ template_content }}
    </div>
    {{ partial:layouts/footer }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
    integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {{ aardvark-seo:footer }}
    {{ stack:footer_scripts }}
</body>

</html>
