<div class="-mt-10 mx-auto container z-10 relative mb-12">
    <div class="rounded-3xl bg-base-100 shadow-lg p-4 max-w-6xl mx-auto flex flex-col justify-center items-center bg-cover bg-center"
    style="background-image: url(/images/banner/bg.png);"
    >
        <span class="font-bold bg-amber-600/20 px-4 py-2 rounded-full w-fit text-center">{{ title }}</span>
        <ul class="pt-4 pb-2 counter-box flex justify-around gap-4 w-full" data-countdown="{{ date_field format="Y/m/d" }}"></ul>
        <div class="pb-2 pt-2 font-bold">{{ date_field }}</div>
    </div>
</div>
{{ push:footer_scripts }}
<script>
    var countdown = document.querySelector('.counter-box');
    var countdownDate = countdown.getAttribute('data-countdown');
    var countdownDate = new Date(countdownDate).getTime();
    var x = setInterval(function() {
        var now = new Date().getTime();
        var distance = countdownDate - now;
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor(
            (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
        );
        var minutes = Math.floor(
            (distance % (1000 * 60 * 60)) / (1000 * 60)
        );
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        countdown.innerHTML =
            '<li class="flex flex-col items-center justify-center"><span class="text-6xl font-bold">' +
            days +
            '</span><span class="text-sm font-bold">Days</span></li>' +
            '<li class="flex flex-col items-center justify-center"><span class="text-6xl font-bold">' +
            hours +
            '</span><span class="text-sm font-bold">Hours</span></li>' +
            '<li class="flex flex-col items-center justify-center"><span class="text-6xl font-bold">' +
            minutes +
            '</span><span class="text-sm font-bold">Minutes</span></li>' +
            '<li class="flex flex-col items-center justify-center"><span class="text-6xl font-bold">' +
            seconds +
            '</span><span class="text-sm font-bold">Seconds</span></li>';
        if (distance < 0) {
            clearInterval(x);
            countdown.innerHTML = 'EXPIRED';
        }
    }, 1000);
</script>
{{ /push:footer_scripts }}
