@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This is all you. */
.img-moving-anim1 {
    position: relative;
    -webkit-animation: glide1 3s linear infinite alternate;
    animation: glide1 3s linear infinite alternate;
}

@-webkit-keyframes glide1 {
    0% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes glide1 {
    0% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}
.img-moving-anim2 {
    position: relative;
    -webkit-animation: glide2 4s ease-in-out alternate infinite;
    animation: glide2 4s ease-in-out alternate infinite;
}

.img-moving-anim3 {
    position: relative;
    -webkit-animation: glide2 3s ease-in-out alternate infinite;
    animation: glide2 3s ease-in-out alternate infinite;
}

@-webkit-keyframes glide2 {
    0% {
        -webkit-transform: translateY(-20px) translateX(50px);
        transform: translateY(-20px) translateX(50px);
    }
    100% {
        -webkit-transform: translateY(-20px) translateX(0px);
        transform: translateY(-20px) translateX(0px);
    }
}

@keyframes glide2 {
    0% {
        -webkit-transform: translateY(-20px) translateX(50px);
        transform: translateY(-20px) translateX(50px);
    }
    100% {
        -webkit-transform: translateY(-20px) translateX(0px);
        transform: translateY(-20px) translateX(0px);
    }
}
.img-moving-anim4 {
    position: relative;
    -webkit-animation: glide3 4s ease-in-out alternate infinite;
    animation: glide3 4s ease-in-out alternate infinite;
}

.img-moving-anim5 {
    position: relative;
    -webkit-animation: glide3 4s cubic-bezier(0.4, 0, 0.2, 1) alternate infinite;
    animation: glide3 4s cubic-bezier(0.4, 0, 0.2, 1) alternate infinite;
}

@-webkit-keyframes glide3 {
    0% {
        -webkit-transform: translateY(-30px) translateX(30px);
        transform: translateY(-30px) translateX(30px);
    }
    100% {
        -webkit-transform: translateY(-30px) translateX(0px);
        transform: translateY(-30px) translateX(0px);
    }
}

@keyframes glide3 {
    0% {
        -webkit-transform: translateY(-30px) translateX(30px);
        transform: translateY(-30px) translateX(30px);
    }
    100% {
        -webkit-transform: translateY(-30px) translateX(0px);
        transform: translateY(-30px) translateX(0px);
    }
}


.custom-forms input {
    @apply input input-bordered w-full;
}

.custom-forms input[type="checkbox"] {
    @apply checkbox checkbox-primary checkbox-lg mx-2;
}

.custom-forms input[type="radio"] {
    @apply radio radio-primary mb-1 mx-2 radio-lg;
}

.custom-forms input[type="file"] {
    @apply file-input file-input-bordered w-full;
}

.custom-forms input[type="hidden"] {
    @apply hidden;
}

.custom-forms label {
    @apply label justify-start font-semibold;
}

.custom-forms textarea {
    @apply textarea textarea-bordered w-full;
}

.custom-forms select {
    @apply select select-bordered w-full;
}
