{{ push:css }}
    <link rel="stylesheet" href="/css/grt-youtube-popup.css">
{{ /push:css }}
<div class="container py-16 md:py-20">
    <div class="max-w-3xl mb-12">
        {{ partial:components.heading label="Photo Gallery" size="h3" }}
    </div>
    {{ collection from="albums" limit="8" paginate="true" as="album" sort="updated_at:desc" }}
        {{ if no_results }}
            <div class="text-center">
                <p class="text-xl font-bold">No Albums found.</p>
            </div>
        {{ /if }}
        <div class="grid grid-cols-1 gap-16 md:grid-cols-2 lg:grid-cols-4">
            {{ album }}
                <div class="card card-compact w-96 bg-base-100 shadow-xl overflow-hidden">
                    <a href="{{ url }}">
                    <figure>
                        <img src="{{ photos[0] }}" alt="{{ title }}" />
                    </figure>
                    <div class="card-body p-4">
                        <p class="card-title text-xl font-bold">{{ title }}</p>
                    </div>
                </a>
                </div>
            {{ /album }}
        </div>
        {{ paginate }}
            {{ if prev_page or next_page }}
                <div class="py-10 mx-auto md:py-16">
                    {{ partial:partials._pagination }}
                </div>
            {{ /if }}
        {{ /paginate }}
    {{ /collection }}
</div>
<div class="container py-16 md:py-20">
    <div class="max-w-3xl mb-12">
        {{ partial:components.heading label="Video Gallery" size="h3" }}
    </div>
    {{ collection from="videos" limit="8" paginate="true" as="videos" sort="updated_at:desc" }}
        {{ if no_results }}
            <div class="text-center">
                <p class="text-xl font-bold">No Videos found.</p>
            </div>
        {{ /if }}
        <div class="grid grid-cols-1 gap-16 md:grid-cols-2 lg:grid-cols-4">
            {{ videos }}
                <div class="card card-compact w-96 bg-base-100 shadow-lg">
                    <figure class="youtube-link relative cursor-grab" youtubeid="{{youtube_video_link}}">
                        <img src="https://i.ytimg.com/vi/{{youtube_video_link}}/hqdefault.jpg" alt="{{ title }}" />
                        <svg fill="#f0f0f0" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                            class="h-20 w-20 absolute bottom-0 right-0 p-2 fill-red-700" x="0px" y="0px"
                                xmlns:xlink="http://www.w3.org/1999/xlink" width="800px" height="800px" viewBox="0 0 408.221 408.221"
                                xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M204.11,0C91.388,0,0,91.388,0,204.111c0,112.725,91.388,204.11,204.11,204.11c112.729,0,204.11-91.385,204.11-204.11
                        			C408.221,91.388,316.839,0,204.11,0z M286.547,229.971l-126.368,72.471c-17.003,9.75-30.781,1.763-30.781-17.834V140.012
                        			c0-19.602,13.777-27.575,30.781-17.827l126.368,72.466C303.551,204.403,303.551,220.217,286.547,229.971z" />
                                    </g>
                                </g>
                            </svg>
                    </figure>
                    <div class="card-body p-4">
                        <p class="card-title text-lg font-sans font-semibold">{{ title }}</p>
                    </div>
                </div>
            {{ /videos }}
        </div>
        {{ paginate }}
            {{ if prev_page or next_page }}
                <div class="py-10 mx-auto md:py-16">
                    {{ partial:partials._pagination }}
                </div>
            {{ /if }}
        {{ /paginate }}
    {{ /collection }}
</div>

{{ push:footer_scripts }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
    integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/grt-youtube-popup.js"></script>
<script> $(".youtube-link").grtyoutube(); </script>
{{ /push:footer_scripts }}
