{{ push:css }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/css/lightgallery-bundle.min.css" integrity="sha512-nUqPe0+ak577sKSMThGcKJauRI7ENhKC2FQAOOmdyCYSrUh0GnwLsZNYqwilpMmplN+3nO3zso8CWUgu33BDag==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{{ /push:css }}
<div class="container py-16 md:py-20">
    <div class="max-w-3xl mb-12">
        {{ partial:components.heading label="{title}" size="h3" }}
    </div>
    {{ if content }}
        <div class="mx-auto prose prose-lg prose-p:text-gray-900 prose-a:text-secondary-900 prose-headings:text-primary-900 p-4 mb-12 max-w-7xl">
            {{ content }}
        </div>
    {{ /if }}
    <div id="animated-thumbnails-gallery" class="grid grid-cols-1 gap-16 md:grid-cols-2 lg:grid-cols-4">
        {{ photos }}
        <a class="card card-compact w-96 bg-base-100 shadow-xl" href="{{ url }}">
            <figure><img src="{{ url }}" alt="{{ alt }}" /></figure>
        </a>
        {{ /photos }}
    </div>
</div>

{{ push:footer_scripts }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/lightgallery.min.js"
    integrity="sha512-dSI4QnNeaXiNEjX2N8bkb16B7aMu/8SI5/rE6NIa3Hr/HnWUO+EAZpizN2JQJrXuvU7z0HTgpBVk/sfGd0oW+w=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">
    lightGallery(document.getElementById('animated-thumbnails-gallery'));
</script>
{{ /push:footer_scripts }}
