<div class="py-10 bg-primary">
    <div class="container">
        {{ if has_subtitle }}
            {{ partial:components/lead label="{subtitle}" class="uppercase" size="sm" class="text-primary-content" }}
        {{ /if }}

        {{ partial:components/heading label="{title}" size="h2" class="text-primary-content mb-10" }}
    </div>
</div>
