<div class="relative">
    <div class="container py-20">
        <div class="w-full max-w-xl mb-10">
            {{ if title }}
                {{ partial:components.heading label="{title}" size="h2" }}
            {{ /if }}
            {{ if description }}
                {{# {{ partial:components.lead label="{description}" size="lg" }} #}}
                <div class="prose">
                    {{ description }}
                </div>
            {{ /if }}
        </div>
        <div class="flex flex-wrap -mx-4">
            {{ members }}
                <div class="w-full px-4 mb-8 md:w-1/2 lg:w-1/3 lg:md-0">
                    <div class="flex flex-col justify-start">
                        {{ if image }}
                            <div class="mb-4 overflow-hidden rounded-2xl">
                                {{
                                    partial:components/picture
                                    :image="image"
                                    cover="true"
                                    sizes="(min-width: 200px) 35vw, 90vw"
                                }}
                            </div>
                        {{ /if }}
                        <div class="flex flex-col mb-4 space-y-2">
                            {{ partial:components.heading label="{full_name}" size="h6" }}

                            {{ if position }}
                                {{ partial:components.lead label="{position}" size="sm" }}
                            {{ /if }}
                        </div>
                    </div>
                    {{ if social }}
                        <ul class="flex flex-row space-x-1">
                            {{ social }}
                                <li class="bg-primary-900">
                                    <a aria-label="visit {{ icon }}"
                                        class="flex items-center justify-center flex-shrink-0 w-8 h-8"
                                        href="{{ url }}">
                                        {{ svg :src="icon" class="w-6 h-6 text-white fill-current"
                                        }}
                                    </a>
                                </li>
                            {{ /social }}
                        </ul>
                    {{ /if }}
                </div>
            {{ /members }}
        </div>
    </div>
    <div class="absolute bottom-0 left-0 w-full bg-gray-200 h-1/2" style="z-index: -1;"></div>
</div>
