<div class="container py-20">
    <div class="max-w-xl mb-12">
        {{ if title }}
        {{ partial:components.heading label="{title}" size="h2" class="mb-5" }}
        {{ /if }}
        {{ if description }}
        {{# {{ partial:components.lead label="{description}" size="lg" }} #}}
        <div class="prose">
            {{ description }}
        </div>
        {{ /if }}
    </div>
    <div class="flex flex-wrap -mx-4">
        {{ members }}
        <div class="w-full p-4 md:w-1/2 lg:w-1/4">
            <div class="flex flex-col items-center mb-10 space-y-4 lg:mb-0">
                {{ if image }}
                <div class="w-64 h-64 overflow-hidden rounded-full">
                    {{
                    partial:components/picture
                    :image="image"
                    class="object-cover w-full h-full"
                    sizes="(min-width: 200px) 35vw, 90vw"
                    }}
                </div>
                {{ /if }}
                <div class="flex flex-col text-center">
                    {{ partial:components.heading label="{full_name}" size="h6" }}

                    {{ if position }}
                    {{ partial:components.lead label="{position}" size="sm" color="brand" }}
                    {{ /if }}
                    {{ if biography }}
                    <p class="text-sm">{{ biography | widont }}</p>
                    {{ /if}}
                </div>
                {{ if social }}
                <ul class="flex flex-row">
                    {{ social }}
                    <li>
                        <a aria-label="visit {{ icon }}" class="flex items-center justify-center flex-shrink-0 w-8 h-8"
                            href="{{ url }}">
                            {{ svg :src="icon" class="w-6 h-6 text-gray-700 fill-current" }}
                        </a>
                    </li>
                    {{ /social }}
                </ul>
                {{ /if }}
            </div>
        </div>
        {{ /members }}
    </div>
</div>
