<div class="container py-12 md:py-16">
    {{ if title }}
        <div class="mb-12 text-center md:text-left md:max-w-lg">
            {{ partial:components.heading label="{title}" size="h2" }}
        </div>
    {{ /if }}
    <div class="grid grid-cols-1 gap-12 lg:grid-cols-3">
        {{ features }}
            <div class="flex flex-col md:flex-row md:items-center lg:py-10 md:py-8 xl:py-12">
                {{ if image }}
                    <div class="w-20 h-20 mb-4 overflow-hidden md:mb-0 md:mr-8">
                        {{
                            partial:components/picture
                            :image="image"
                            cover="true"
                            sizes="(min-width: 200px) 35vw, 90vw"
                        }}
                    </div>
                {{ /if }}

                <div class="flex-shrink-0">
                    {{ partial:components.heading label="{title}" size="h5" }}

                    {{ if description }}
                        <div class="max-w-sm mt-2">
                            {{ partial:components.lead label="{description}" }}
                        </div>
                    {{ /if }}
                </div>
            </div>
        {{ /features }}
    </div>
</div>
