<div class="bg-primary text-primary-content stats-pattern">
    <div class="container py-16">
        <div class="flex flex-col items-center mb-12 text-center">
            {{ if title }}
                {{ partial:components.heading label="{title}" size="h2" class="mb-2" }}
            {{ /if }}
            {{ if description }}
                {{ partial:components.lead label="{description}" size="lg" }}
            {{ /if }}
        </div>
        <div class="grid divide-y divide-primary-focus md:divide-y-0 md:divide-x md:grid-cols-4 divide-opacity-40">
            {{ stats }}
                <div class="px-5 py-5 text-center md:py-0">
                    <p class="text-5xl font-extrabold text-primary-content">
                        {{ number }}
                    </p>

                    {{ if description }}
                        {{ partial:components.lead label="{description}" size="lg" }}
                    {{ /if }}
                </div>
            {{ /stats }}
        </div>
    </div>
</div>
