<div class="relative bg-slate-900 text-white mt-auto z-10 overflow-hidden">
    <footer class="footer container mx-auto pt-24 z-10">
        <aside class="flex flex-col justify-center items-center">
            <a href="https://awokeindia.com" target="_blank" class=" bg-base-100/70 rounded-lg px-4 py-2">
                <img src="/images/logo.png" alt="logo" class="w-auto h-24">
            </a>
            <p class="font-bold text-lg">International Financial Literacy Conclave</p>
            <p class=" font-semibold">AWOKE India</p>
        </aside>
        <nav>
            <header class="footer-title">Links</header>
            {{ nav:navigation }}
            <a href="{{ url }}" class="link link-hover">{{ title }}</a>
            {{ /nav:navigation }}
        </nav>
        <nav>
            <header class="footer-title">Company</header>
            <a target="_blank" href="https://awokeindia.com" class="link link-hover">Awoke India</a>
            <a target="_blank" href="https://awokeindiafoundation.com" class="link link-hover">Awoke India Foundation</a>
            {{# <a class="link link-hover">Apply to Speak</a> #}}
        </nav>
        <nav class=" max-w-md">
            <header class="footer-title">Contact Us</header>
            <p class="font-light">Email: <a class="link link-hover font-normal"
                    href="mailto:info@awokindia.com">info@awokindia.com</a></p>
            <p class="font-light">Phone:
                <a class="link link-hover font-normal" href="tel:+919219812079">+91 9219812079</a>,
                <a class="link link-hover font-normal" href="tel:+917307247961">+91 7307247961</a>
            </p>
            <span class="font-light">Corporate Office</span>
            <address class="font-bold">E-3/35, Vishesh Khand , Gomti Nagar, Lucknow, Uttar Pradesh 226010</address>
            <span class="font-light">Registered Office</span>
            <address class="font-bold">15/90, Civil Lines, Kanpur - 208001 (India)</address>
        </nav>
    </footer>
    <footer class="footer footer-center mt-8 text-gray-400 p-4">
        <aside>
            <p>Copyright &copy; 2023 - All right reserved by AWOKE India.</p>
        </aside>
    </footer>
    {{# <div class="absolute bg-gradient-radial to-transparent via-transparent from-yellow-500 h-96 w-96 top-[50%] left-[90%] -z-10"></div>
    <div class="absolute bg-gradient-radial to-transparent via-transparent from-yellow-500 h-96 w-96 bottom-[50%] right-[90%] -z-10"></div> #}}
</div>
