<div id="nav" class="top-0 left-0 right-0 z-30 transition-all shadow-md">
    {{# <div class="fixed shadow"></div> #}}
    <div class="navbar container mx-auto p-5">
        <div class="navbar-start">
            <a href="/" class="normal-case text-xl font-bold">
                    <span class="lg:hidden">IFLC</span>
                    <span class="max-lg:hidden">International Financial Literacy Conclave</span>
            </a>
        </div>
        <div class="navbar-center flex max-md:hidden">
            <ul class="menu menu-horizontal px-1">
                {{ nav:navigation include_home="true" }}
                {{ partial:components.menu_item }}
                {{ /nav:navigation }}
            </ul>
        </div>
        <div class="navbar-end gap-2">
            <a class="btn btn-secondary btn-outline rounded-full">Downloads</a>
            {{# <a class="btn btn-primary rounded-full">Buy Tickets</a> #}}
        </div>
    </div>
</div>
{{ push:footer_scripts }}
<script>
    // on scroll add class sticky to navbar
    $(window).on('scroll', function () {
        if ($(window).scrollTop() >= 95) {
            $('#nav').addClass('bg-base-100');
            $('#nav').addClass('fixed');
        }
        else if ($(window).scrollTop() < 95) {
            $('#nav').removeClass('bg-base-100');
            $('#nav').removeClass('fixed');
        }
    });
</script>
{{ /push:footer_scripts }}
