{{ push:css }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/9.4.1/swiper-bundle.min.css"
    integrity="sha512-nGNAKpV+BrfDZabPX1O6q6mRlT57/amdj+6vF322ongqKABLHYLfLc3jYtVVbkiR9towDWPPE9gWFE2tsZIPZg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .swiper {
          width: 100%;
          height: 100%;
        }

        .swiper-slide {
          text-align: center;
          font-size: 18px;
          background: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .swiper-slide img {
          display: block;
          height: 100%;
          object-fit: cover;
        }
        .swiper-button-next, .swiper-button-prev {
            color: hsl(var(--er)) !important;
        }
      </style>
{{ /push:css }}
<div class="swiper mySwiper overflow-hidden">
    <div class="swiper-wrapper">
        {{ slides }}
        <div class="swiper-slide relative">
            {{ if image }}
            {{
                partial:components/picture
                :image="image"
                class="min-h-[80vh] max-h-[80vh] brightness-50 object-cover w-[100vw]"
            }}
            {{ else}}
            <img src="/images/background.jpg" alt="cover-image" class="mx-auto min-h-[80vh] max-h-[80vh] brightness-50">
            {{ /if }}
            <div class="absolute text-white py-6 text-right pb-10 bottom-0 max-w-[90vw] mb-16">
                {{ partial:components.heading label="{title}" color="white" class="max-w-5xl" }}
                <p class="max-w-5xl">{{ description }}</p>
            </div>
            {{ if overlay_text}}
            <div class="absolute bottom-[35%]">
                <div class="flex w-full text-white text-5xl font-bold">
                    <span class="opacity-40 img-moving-anim4">{{ overlay_text }}</span>
                </div>
            </div>
            {{ /if }}
        </div>
        {{ /slides }}
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>
{{ push:footer_scripts }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/9.4.1/swiper-bundle.min.js"
    integrity="sha512-3Ei7OPFo83kw3cPbDLeLhn/YF8tZB7Vs8sfli0B/KEekureL5eosDeshYFICCvt4K8i0yUil/lK3cSiic2Wjkg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        var swiper = new Swiper(".mySwiper", {
            spaceBetween: 0,
            centeredSlides: false,
            autoplay: {
              delay: 10000,
              disableOnInteraction: false
            },
            pagination: {
              el: ".swiper-pagination",
              clickable: true
            },
            navigation: {
              nextEl: ".swiper-button-next",
              prevEl: ".swiper-button-prev"
            },
          });
    </script>
{{ /push:footer_scripts }}
