{{ if custom_page_header }}
{{ partial src="sets/headers/{header_version}" }}
{{ /if }}

{{ blocks }}
{{ partial src="sets/{type}/{version}" }}
{{ /blocks }}
{{ if content }}
<div class="relative pb-12">
    <div
        class="mx-auto prose prose-lg bg-base-100 rounded-2xl prose-p:text-gray-900 prose-a:text-secondary-900 prose-headings:text-primary-900 p-4 max-w-7xl">
        {{ content }}
    </div>
    <div class="absolute bottom-0 left-0 w-full bg-gray-200 h-3/4" style="z-index: -1;"></div>
</div>
{{ /if }}
